# Conservative single-analysis defaults for battery-powered devices.
numSearchThreadsPerAnalysisThread = 1
numAnalysisThreads = 2
numNNServerThreadsPerModel = 1
nnMaxBatchSize = 4
nnCacheSizePowerOfTwo = 15
nnMutexPoolSizePowerOfTwo = 14
reportAnalysisWinratesAs = SIDETOMOVE
analysisPVLen = 12
logSearchInfo = false
logToStderr = false
